{% extends '::base.html.twig' %}

{% block title %}Form Generico{% endblock %}

{% block stylesheets %}

	{{ parent() }}
	<link href="{{ asset('bundles/a4uform/css/form.css') }}" type="text/css" rel="stylesheet">
	{{ form_stylesheet(form) }}

{% endblock %}

{% block body %}

<div class="container">

    <div align="center">

        <div align="left" class="form-container" >

            {{ form_start(form) }}

                {{ form_errors(form) }}
                {% include 'A4UFormBundle::Forms/base_form_personal_records.html.twig'  %}

                <div class="form-group">
                    {{ form_label(form.attendedActivity) }}
                    {{ form_errors(form.attendedActivity) }}
                    {{ form_widget(form.attendedActivity) }}
                </div>

                <div align="center" class="form-group">
                    {{ form_widget(form.save) }}
                </div>

            {{ form_end(form) }}

        </div>

    </div>

</div>
{% endblock %}

{% block javascripts %}
	
	{{ parent() }}
	{{ form_javascript(form) }}
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
	
	<script type="text/javascript">
		var city=document.getElementById('generico_city');
		var address=document.getElementById('generico_address');
		var birthPlace=document.getElementById('generico_birthPlace');
		var CAP=document.getElementById('generico_cap');

		var autocompleteCity = new google.maps.places.Autocomplete(city);
		var autocompleteAddress = new google.maps.places.Autocomplete(address);
		var autocompleteBirthPlace = new google.maps.places.Autocomplete(birthPlace);
		var autocompleteCAP = new google.maps.places.Autocomplete(CAP);

	</script>
{% endblock %}
