{% extends '::base.html.twig' %}

{% block title %}Porte Aperte Estate{% endblock %}

{% block stylesheets %}

	{{ parent() }}
	<link href="{{ asset('bundles/a4uform/css/form.css') }}" type="text/css" rel="stylesheet">
	{{ form_stylesheet(form) }}

{% endblock %}

{% block body %}

  <div class="container">

    <div align="center">

      <div align="left" class="form-container" >

        {{ form_start(form) }}

        {{ form_errors(form) }}

        {% include 'A4UFormBundle::Forms/base_form.html.twig'  %}

        <div class="form-group">
            {{ form_label(form.reservationMonth) }}
            {{ form_errors(form.reservationMonth) }}
            {{ form_widget(form.reservationMonth) }}
        </div>

        <div id="porteAperteEstate_julyDiv" class="form-group">
            {{ form_label(form.julyDates) }}
            {{ form_errors(form.julyDates) }}
            {{ form_widget(form.julyDates) }}
        </div>
        
        <div id="porteAperteEstate_augustDiv" class="form-group">
            {{ form_label(form.augustDates) }}
            {{ form_errors(form.augustDates) }}
            {{ form_widget(form.augustDates) }}
        </div>

        <div id="porteAperteEstate_reservationDate" class="form-group">
            {{ form_label(form.reservationDate) }}
            {{ form_errors(form.reservationDate) }}
            {{ form_widget(form.reservationDate) }}
        </div>


        <div align="center" class="form-group">
            {{ form_widget(form.save) }}
        </div>

        {{ form_end(form) }}
      </div>

    </div>

  </div>
{% endblock %}

{% block javascripts %}
	
	{{ parent() }}
	{{ form_javascript(form) }}

	<script type="text/javascript" src="{{ asset('bundles/a4uform/javascript/form_porteAperteEstate.js') }}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>

	<script type="text/javascript">
		var city=document.getElementById('porteAperteEstate_city');
		var address=document.getElementById('porteAperteEstate_address');
		var birthPlace=document.getElementById('porteAperteEstate_birthPlace');
		var CAP=document.getElementById('porteAperteEstate_cap');

		var autocompleteCity = new google.maps.places.Autocomplete(city);
		var autocompleteAddress = new google.maps.places.Autocomplete(address);
		var autocompleteBirthPlace = new google.maps.places.Autocomplete(birthPlace);
		var autocompleteCAP = new google.maps.places.Autocomplete(CAP);
    var $schoolRegion = $('#porteAperteEstate_attendedSchoolRegion');
    $(document).on('change', '#porteAperteEstate_attendedSchoolRegion', function() {
      var $form = $(this).closest('form');
      var data = {};
      data[$schoolRegion.attr('name')] = $schoolRegion.val();

      $.ajax({
        url : $form.attr('action'),
        type: $form.attr('method'),
        data : data,
        success: function(html) {
          $('#porteAperteEstate_attendedSchoolDistrict').replaceWith(
            $(html).find('#porteAperteEstate_attendedSchoolDistrict')
          );
          $('#porteAperteEstate_attendedSchoolCity').replaceWith(
            $(html).find('#porteAperteEstate_attendedSchoolCity')
          );
          $('#porteAperteEstate_attendedSchool').replaceWith(
            $(html).find('#porteAperteEstate_attendedSchool')
          );
        }
      });
    });


    var $schoolDistrict = $('#porteAperteEstate_attendedSchoolDistrict');
    $(document).on('change', '#porteAperteEstate_attendedSchoolDistrict', function() {
      var $form = $(this).closest('form');
      var data = {};
      data[$schoolDistrict.attr('name')] = $('#porteAperteEstate_attendedSchoolDistrict').val();
      data[$schoolRegion.attr('name')] = $schoolRegion.val();
      $.ajax({
        url : $form.attr('action'),
        type: $form.attr('method'),
        data : data,
        success: function(html) {
          $('#porteAperteEstate_attendedSchoolCity').replaceWith(
            $(html).find('#porteAperteEstate_attendedSchoolCity')
          );
          $('#porteAperteEstate_attendedSchool').replaceWith(
            $(html).find('#porteAperteEstate_attendedSchool')
          );
        }
      });
    });


    var $schoolCity = $('#porteAperteEstate_attendedSchoolCity');
    $(document).on('change', '#porteAperteEstate_attendedSchoolCity', function() {
      var $form = $(this).closest('form');
      var data = {};
      data[$schoolRegion.attr('name')] = $schoolRegion.val();
      data[$schoolDistrict.attr('name')] = $('#porteAperteEstate_attendedSchoolDistrict').val();
      data[$schoolCity.attr('name')] = $('#porteAperteEstate_attendedSchoolCity').val();
      $.ajax({
        url : $form.attr('action'),
        type: $form.attr('method'),
        data : data,
        success: function(html) {
          $('#porteAperteEstate_attendedSchool').replaceWith(
            $(html).find('#porteAperteEstate_attendedSchool')
          );
        }
      });
    });

    var $school = $('#porteAperteEstate_attendedSchool');
    $(document).on('change', '#porteAperteEstate_attendedSchool', function() {
      var $form = $(this).closest('form');
      var data = {};
      data[$school.attr('name')] = $('#porteAperteEstate_attendedSchool').val();
    });
	</script>

{% endblock %}
