{% extends '::base.html.twig' %}

{% block title %}Porte Aperte Inverno{% endblock %}

{% block stylesheets %}

	{{ parent() }}
	<link href="{{ asset('bundles/a4uform/css/form.css') }}" type="text/css" rel="stylesheet">
	{{ form_stylesheet(form) }}

{% endblock %}

{% block body %}

<div class="container">

    <div align="center">

        <div align="left" class="form-container" >

            {{ form_start(form) }}

                {{ form_errors(form) }}

                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.surname) }}
                    {{ form_errors(form.surname) }}
                    {{ form_widget(form.surname) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.fiscalcode) }}
                    {% if not form.fiscalcode.vars.valid %}

                        <div class="alert alert-danger" role="alert">
                            <span class="sr-only">Error:</span>

                            {{ form_errors(form.fiscalcode) }}
                        </div>

                    {% endif %}
                    {{ form_widget(form.fiscalcode) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.cap) }}
                    {{ form_errors(form.cap) }}
                    {{ form_widget(form.cap) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.city) }}
                    {{ form_errors(form.city) }}
                    {{ form_widget(form.city) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.address) }}
                    {{ form_errors(form.address) }}
                    {{ form_widget(form.address) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.email) }}
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.phone) }}
                    {{ form_errors(form.phone) }}
                    {{ form_widget(form.phone) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.birthDate) }}
                    {{ form_errors(form.birthDate) }}
                    {{ form_widget(form.birthDate) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.birthPlace) }}
                    {{ form_errors(form.birthPlace) }}
                    {{ form_widget(form.birthPlace) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.attendedSchool) }}
                    {{ form_errors(form.attendedSchool) }}
                    {{ form_widget(form.attendedSchool) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.attendedSchoolCity) }}
                    {{ form_errors(form.attendedSchoolCity) }}
                    {{ form_widget(form.attendedSchoolCity) }}
                </div>

                <div id="hasAttendedtoOtherActivities" class="form-group">
                    {{ form_label(form.hasAttendedtoOtherActivities) }}
                    {{ form_errors(form.hasAttendedtoOtherActivities) }}
                    {{ form_widget(form.hasAttendedtoOtherActivities) }}
                </div>

                <div id="attendedActivity" class="form-group">
                    {{ form_label(form.activity) }}
                    {{ form_errors(form.activity) }}
                    {{ form_widget(form.activity) }}
                </div>

                <div id="otherAttendedActivity" class="form-group">
                    {{ form_label(form.otherActivity) }}
                    {{ form_errors(form.otherActivity) }}
                    {{ form_widget(form.otherActivity) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.reference) }}
                    {{ form_errors(form.reference) }}
                    {{ form_widget(form.reference) }}
                </div>

                <div id="otherReference" class="form-group">
                    {{ form_label(form.otherReference) }}
                    {{ form_errors(form.otherReference) }}
                    {{ form_widget(form.otherReference) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.unicamCourse) }}
                    {{ form_errors(form.unicamCourse) }}
                    {{ form_widget(form.unicamCourse) }}
                </div>

                <div align="center" class="form-group">
                    {{ form_widget(form.save) }}
                </div>

            {{ form_end(form) }}

        </div>

    </div>

</div>
{% endblock %}

{% block javascripts %}
	
	{{ parent() }}
	{{ form_javascript(form) }}
	<script type="text/javascript" src="{{ asset('bundles/a4uform/javascript/form_porteAperteInverno.js') }}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
	
	<script type="text/javascript">
		var city=document.getElementById('porteAperteInverno_city');
		var address=document.getElementById('porteAperteInverno_address');
		var birthPlace=document.getElementById('porteAperteInverno_birthPlace');
		var attendedSchoolCity=document.getElementById('porteAperteInverno_attendedSchoolCity');
		var CAP=document.getElementById('porteAperteInverno_cap');
		var attendedSchool=document.getElementById('porteAperteInverno_attendedSchool');

		var autocompleteCity = new google.maps.places.Autocomplete(city);
		var autocompleteAddress = new google.maps.places.Autocomplete(address);
		var autocompleteBirthPlace = new google.maps.places.Autocomplete(birthPlace);
		var autocompleteAttendedSchoolCity = new google.maps.places.Autocomplete(attendedSchoolCity);
		var autocompleteCAP = new google.maps.places.Autocomplete(CAP);
		var autocompleteAttendedSchool = new google.maps.places.Autocomplete(attendedSchool);
	</script>

{% endblock %}
