{% extends '::base.html.twig' %}

{% block title %}Stage in Unicam{% endblock %}

{% block stylesheets %}

	{{ parent() }}
	<link href="{{ asset('bundles/a4uform/css/jquery.scrollbar.css') }}" type="text/css" rel="stylesheet">

	<style>
	.filter-table .quick { margin-left: 0.5em; font-size: 0.8em; text-decoration: none; }
	.fitler-table .quick:hover { text-decoration: underline; }
	td.alt { background-color: #ffc; background-color: rgba(255, 255, 0, 0.2); }
	</style> <!-- or put the styling in your stylesheet -->

{% endblock %}

{% block body %}

<div class="container">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" >
            Stage in Unicam
          </a>
        </div>        
        <form class="navbar-form navbar-left">
          <div class="input-group">
            <div class="input-group" style="max-width:300px;">
                <input type="text" class="form-control" id="input-filter" placeholder="cerca">
                <span class="input-group-addon glyphicon glyphicon-search"> </span>
            </div>
          </div>
        </form>
      </div>
    </nav>

	<div style="overflow-y: auto; overflow-x: auto;">
		<table class="table table-hover">
			<thead>
				<tr>
					<th></th>
	                <th><b>iscritto</b></th>
					<th><b>Nome</b></th>
					<th><b>Cognome</b></th>
					<th><b>Indirizzo</b></th>
					<th><b>CAP</b></th>
					<th><b>Città</b></th>
					<th><b>Email</b></th>
					<th><b>Tel.</b></th>
					<th><b>Data di nascita</b></th>
					<th><b>Luogo di nascita</b></th>
					<th>><b>Scuola di provenienza</b></th>
					<th><b>Codice Fiscale</b></th>
				    <th><b>Anno Scolastico</b></th>
				    <th><b>Contatto Facebook</b></th>
					<th><b>Periodo di Stage</b></th>
					<th><b>Campo di Studio prima scelta</b></th>
					<th><b>Prima Scelta</b></th>
					<th><b>Campo di Studio seconda scelta</b></th>
					<th><b>Seconda Scelta</b></th>
					<th><b>Pagamento<b></th>
					<th><b>data sottoscrizione</b></th>
				</tr>
            </thead>
            <tbody>
			{% for user in users %}
				<tr>
                    {% include 'A4UFormBundle::Forms/base_show_select.html.twig'  %}
                    <td>
                    	<div style="text-align: center;">
                    		{% if user.fiscalCode in subscribed %}
                    			<span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                            {% else %}<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                            {% endif %}
                    	</div>
                    </td>
					<td>{{user.name}}</td>
					<td>{{user.surname}}</td>
					<td>{{user.address}}</td>
					<td>{{user.cap}}</td>
					<td>{{user.city}}</td> 
					<td>{{user.email}}</td>
					<td>{{user.phone}}</td> 
					<td>{{user.birthDate|date('d-m-Y')}}</td> 
					<td>{{user.birthPlace}}</td> 
					<td>{{user.attendedSchool}}</td> 
					<td>{{user.fiscalCode}}</td>
					<td>{{user.schoolYear}}</td>
					<td>{{user.facebookContact}}</td>
					<td>{{user.stagePeriod}}</td>
					<td>{{user.firstStudyField}}</td>
					<td>{{user.firstChoice}}</td>
					<td>{{user.secondStudyField}}</td>
					<td>{{user.secondChoice}}</td>
					<td>{{user.moneyPayed}}</td>
					<td>{{user.submissionDate|date('d-m-Y H:i:s')}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

	</div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/a4uform/javascript/jquery.scrollbar.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/a4uform/javascript/searchTable/jquery.filtertable.js') }}"></script>

    <script>
    $(document).ready(function() {
        $('table').filterTable({ // apply filterTable to all tables on this page
            inputSelector: '#input-filter' // use the existing input instead of creating a new one
        });
    });
    </script>

    <script type="text/javascript">
        // Se viene clickato il pulsante per cancellare la keyword si viene rediretti a showPAI
        $(document).on('click', '#removeLastSearch' , function() {
            window.location.replace("{{ path('a4u_form_showStage') }}");
        })
    </script>

    <script type="text/javascript">

		jQuery(document).ready(function(){
		    jQuery('.scrollbar-inner').scrollbar();
		});
    
    </script>

{% endblock %}
