{% extends '::base.html.twig' %}

{% block title %}{{studenti[0].nome}} {{studenti[0].cognome}}{% endblock %}

{% block stylesheets %}

	{{ parent() }}
	<link href="{{ asset('bundles/a4uform/css/jquery.scrollbar.css') }}" type="text/css" rel="stylesheet">

	<style>
	.filter-table .quick { margin-left: 0.5em; font-size: 0.8em; text-decoration: none; }
	.fitler-table .quick:hover { text-decoration: underline; }
	td.alt { background-color: #ffc; background-color: rgba(255, 255, 0, 0.2); }
	</style> <!-- or put the styling in your stylesheet -->

{% endblock %}

{% block body %}

<div class="container">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" >
            Situazione Studente: {{studenti[0].nome}} {{studenti[0].cognome}}
          </a>
        </div>        
    </nav>

    {% for studente in studenti %}
        <ul style="font-size: 16px;">
            <li><b>matricola: </b>{{studente.matricola}}</li>
            <li><b>Nome: </b>{{studente.nome}}</li>
            <li><b>Cognome: </b>{{studente.cognome}}</li>
            <li><b>Sesso: </b>{{studente.sesso}}</li>
            <li><b>Codice Fiscale: </b>{{studente.codiceFiscale}}</li>
        </ul>
        <hr>
    {% endfor %}


{% endblock %}

{% block javascripts %}

    {{ parent() }}


    <script type="text/javascript" src="{{ asset('bundles/a4uform/javascript/jquery.scrollbar.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/a4uform/javascript/searchTable/jquery.filtertable.js') }}"></script>

    <script>
    $(document).ready(function() {
        $('table').filterTable({ // apply filterTable to all tables on this page
            inputSelector: '#input-filter' // use the existing input instead of creating a new one
        });
    });
    </script>


    <script type="text/javascript">
        // Se viene clickato il pulsante per cancellare la keyword si viene rediretti a showPAI
        $(document).on('click', '#removeLastSearch' , function() {
            window.location.replace("{{ path('a4u_form_showPAI') }}");
        })
    </script>

    <script type="text/javascript">

		jQuery(document).ready(function(){
		    jQuery('.scrollbar-inner').scrollbar();
		});
    
    </script>

{% endblock %}
