{% extends '::base.html.twig' %}

{% block title %}Form Generico{% endblock %}

{% block body %}

    <div class="container">
    <div style="margin-top:20px;">
    <h3><p>Tabella iscritti Form Generico</p></h3>
		<table class="table table-hover">
			<tr>
				<td><b>Nome</b></td>
				<td><b>Cognome</b></td>
				<td><b>Indirizzo</b></td>
				<td><b>CAP</b></td>
				<td><b>Città</b></td>
				<td><b>Email</b></td>
				<td><b>Data di nascita</b></td>
				<td><b>Luogo di nascita</b></td>
				<td><b>Codice Fiscale</b></td>
			</tr>
			{% for user in users %}
				<tr>
					<td>{{user.name}}</td>
					<td>{{user.surname}}</td>
					<td>{{user.address}}</td>
					<td>{{user.cap}}</td>
					<td>{{user.city}}</td> 
					<td>{{user.email}}</td>
					<td>{{user.birthDate|date('d-m-Y')}}</td> 
					<td>{{user.birthPlace}}</td> 
					<td>{{user.fiscalCode}}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
	</div>

{% endblock %}
