{% extends '::base.html.twig' %}

{% block title %}Stage Unicam{% endblock %}

{% block stylesheets %}

	{{ parent() }}
	<link href="{{ asset('bundles/a4uform/css/form.css') }}" type="text/css" rel="stylesheet">
	{{ form_stylesheet(form) }}

{% endblock %}

{% block body %}

<div class="container">

    <div align="center">

        <div align="left" class="form-container" >

            {{ form_start(form) }}
    		
    			{{ form_errors(form) }}
    			{% include 'A4UFormBundle::Forms/base_form_personal_records.html.twig'  %}
                <div class="form-group">
                    {{ form_label(form.attendedSchoolRegion) }}
                    {{ form_errors(form.attendedSchoolRegion) }}
                    {{ form_widget(form.attendedSchoolRegion) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.attendedSchoolDistrict) }}
                    {{ form_errors(form.attendedSchoolDistrict) }}
                    {{ form_widget(form.attendedSchoolDistrict) }}
                </div>
                 <div class="form-group">
                    {{ form_label(form.attendedSchoolCity) }}
                    {{ form_errors(form.attendedSchoolCity) }}
                    {{ form_widget(form.attendedSchoolCity) }}
                </div>
                 <div class="form-group">
                    {{ form_label(form.attendedSchool) }}
                    {{ form_errors(form.attendedSchool) }}
                    {{ form_widget(form.attendedSchool) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.schoolYear) }}
                    {{ form_errors(form.schoolYear) }}
                    {{ form_widget(form.schoolYear) }}
                </div>
                 <div class="form-group">
                    {{ form_label(form.facebookContact) }}
                    {{ form_errors(form.facebookContact) }}
                    {{ form_widget(form.facebookContact) }}
                </div>               
                <div class="form-group">
                    {{ form_label(form.stagePeriod) }}
                    {{ form_errors(form.stagePeriod) }}
                    {{ form_widget(form.stagePeriod) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.studyField) }}
                    {{ form_errors(form.studyField) }}
                    {{ form_widget(form.studyField) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.firstChoice) }}
                    {{ form_errors(form.firstChoice) }}
                    {{ form_widget(form.firstChoice) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.secondChoice) }}
                    {{ form_errors(form.secondChoice) }}
                    {{ form_widget(form.secondChoice) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.moneyPayed) }}
                    {{ form_errors(form.moneyPayed) }}
                    {{ form_widget(form.moneyPayed) }}
                </div>

                
                <div align="center" class="form-group">
                    {{ form_widget(form.save) }}
                </div>


    		{{ form_end(form) }}

        </div>

    </div>

</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

    var $studyField = $('#stage_studyField');
    // When sport gets selected ...
    $studyField.change(function() {
      // ... retrieve the corresponding form.
      var $form = $(this).closest('form');
      // Simulate form data, but only include the selected sport value.
      var data = {};
      data[$studyField.attr('name')] = $studyField.val();
      // Submit data via AJAX to the form's action path.
      $.ajax({
        url : $form.attr('action'),
        type: $form.attr('method'),
        data : data,
        success: function(html) {
          // Replace current position field ...
          $('#stage_firstChoice').replaceWith(
            // ... with the returned one from the AJAX response.
            $(html).find('#stage_firstChoice')
          );
          // Position field now displays the appropriate positions.
        }
      });
    });

    </script>

    <script>

    var $schoolRegion = $('#stage_attendedSchoolRegion');
    //$schoolRegion.change(function() {
    $(document).on('change', '#stage_attendedSchoolRegion', function() {
      var $form = $(this).closest('form');
      var data = {};
      data[$schoolRegion.attr('name')] = $schoolRegion.val();
      $.ajax({
        url : $form.attr('action'),
        type: $form.attr('method'),
        data : data,
        success: function(html) {
        //alert(($(html).find('#stage_attendedSchoolCity').value));
          $('#stage_attendedSchoolDistrict').replaceWith(
            $(html).find('#stage_attendedSchoolDistrict')
          );
        }
      });
    });


    var $schoolDistrict = $('#stage_attendedSchoolDistrict');
    //$schoolDistrict.change(function() {
    $(document).on('change', '#stage_attendedSchoolDistrict', function() {
      //alert("dai cazzo funziona!");
      var $form = $(this).closest('form');
      var data = {};
      data[$schoolDistrict.attr('name')] = $schoolDistrict.val();
      data[$schoolRegion.attr('name')] = $schoolRegion.val();
      $.ajax({
        url : $form.attr('action'),
        type: $form.attr('method'),
        data : data,
        success: function(html) {
          //alert(($(html).find('#stage_attendedSchoolCity').html));
          $('#stage_attendedSchoolCity').replaceWith(
            $(html).find('#stage_attendedSchoolCity')
          );
        }
      });
    });


    var $schoolCity = $('#stage_attendedSchoolCity');
    //$schoolDistrict.change(function() {
    $(document).on('change', '#stage_attendedSchoolCity', function() {
      //alert("dai cazzo funziona!");
      var $form = $(this).closest('form');
      var data = {};
      data[$schoolRegion.attr('name')] = $schoolRegion.val();
      data[$schoolDistrict.attr('name')] = $schoolDistrict.val();
      data[$schoolCity.attr('name')] = $schoolCity.val();
      $.ajax({
        url : $form.attr('action'),
        type: $form.attr('method'),
        data : data,
        success: function(html) {
          //alert(($(html).find('#stage_attendedSchoolCity').html));
          $('#stage_attendedSchool').replaceWith(
            $(html).find('#stage_attendedSchool')
          );
        }
      });
    });

    </script>

        

{% endblock %}
