{% extends'::base.html.twig' %}

{% block head %}
	
	{{parent()}}
	<link href="{{ asset('css/show.css') }}" type="text/css" rel="stylesheet" />

{% endblock %}

{% block content %}

	{% block contentTitle %}<h3> Homepage </h3>{% endblock %}

			<table>
				
				<tr>
					<td><b>Forms</b></td>
					<td><b>Azioni</b></td>
				</tr>

				<tr>
					<td>Porte Aperte Estate</td>
					<td>
						<form action="{{ path('a4u_form_porteAperteEstate') }}"><input type="submit" value=" Compila" /></form>
						<!--form action="#"><input type="submit" value="Modifica" /></form-->
						<form action="{{ path('a4u_form_showPAE') }}"><input type="submit" value="Visualizza Iscritti" /></form>
					</td>
				</tr>

				<tr>
					<td>Porte Aperte inverno</td>
					<td>
						<form action="{{ path('a4u_form_porteAperteInverno') }}"><input type="submit" value=" Compila" /></form>
						<!--form action="#"><input type="submit" value="Modifica" /></form-->
						<form action="{{ path('a4u_form_showPAI') }}"><input type="submit" value="Visualizza Iscritti" /></form>
					</td>
				</tr>

				<tr>
					<td>Stage</td>
					<td>
						<form action="{{ path('a4u_form_stage') }}"><input type="submit" value=" Compila" /></form>
						<!--form action="#"><input type="submit" value="Modifica" /></form-->
						<form action="{{ path('a4u_form_showStage') }}"><input type="submit" value="Visualizza Iscritti" /></form>
					</td>
				</tr>

				<tr>
					<td>Generico</td>
					<td>
						<form action="{{ path('a4u_form_generico') }}"><input type="submit" value=" Compila" /></form>
						<!--form action="#"><input type="submit" value="Modifica" /></form-->
						<form action="{{ path('a4u_form_showGenerico') }}"><input type="submit" value="Visualizza Iscritti" /></form>
					</td>
				</tr>

			</table>

{% endblock %}